
/* Your CSS Code here. */
.holder{
	display:grid;
	grid-template-columns:repeat(2,100px);
	grid-template-rows:repeat(2,100px);
}
.holder .item.item-1{
	background-color:yellow;
	height:25vh;
}
.holder .item.item-2{
	background-color:blue;
	height:25vh;
}
.holder .item.item-3{
	background-color:pink;
	height:25vh;
}
.holder .item.item-4{
	height:25vh;
	background-color:tomato;
}